<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isReaded</key>
		<string>未读</string>
		<key>messageTitle</key>
		<string>系统通知</string>
		<key>messageTime</key>
		<string>2015-4-22 10:42:10</string>
		<key>messageDescription</key>
		<string>欢迎您</string>
		<key>messageContent</key>
		<string>A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。</string>
	</dict>
	<dict>
		<key>isReaded</key>
		<string>未读</string>
		<key>messageTitle</key>
		<string>系统通知</string>
		<key>messageTime</key>
		<string>2015-4-22 10:42:10</string>
		<key>messageDescription</key>
		<string>欢迎您</string>
		<key>messageContent</key>
		<string>A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。</string>
	</dict>
	<dict>
		<key>isReaded</key>
		<string>未读</string>
		<key>messageTitle</key>
		<string>系统通知</string>
		<key>messageTime</key>
		<string>2015-4-22 10:42:10</string>
		<key>messageDescription</key>
		<string>欢迎您</string>
		<key>messageContent</key>
		<string>A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。</string>
	</dict>
	<dict>
		<key>isReaded</key>
		<string>未读</string>
		<key>messageTitle</key>
		<string>系统通知</string>
		<key>messageTime</key>
		<string>2015-4-22 10:42:10</string>
		<key>messageDescription</key>
		<string>欢迎您</string>
		<key>messageContent</key>
		<string>A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。</string>
	</dict>
	<dict>
		<key>isReaded</key>
		<string>未读</string>
		<key>messageTitle</key>
		<string>系统通知</string>
		<key>messageTime</key>
		<string>2015-4-22 10:42:10</string>
		<key>messageDescription</key>
		<string>欢迎您</string>
		<key>messageContent</key>
		<string>A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。</string>
	</dict>
	<dict>
		<key>isReaded</key>
		<string>未读</string>
		<key>messageTitle</key>
		<string>系统通知</string>
		<key>messageTime</key>
		<string>2015-4-22 10:42:10</string>
		<key>messageDescription</key>
		<string>欢迎您</string>
		<key>messageContent</key>
		<string>A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。</string>
	</dict>
	<dict>
		<key>isReaded</key>
		<string>未读</string>
		<key>messageTitle</key>
		<string>系统通知</string>
		<key>messageTime</key>
		<string>2015-4-22 10:42:10</string>
		<key>messageDescription</key>
		<string>欢迎您</string>
		<key>messageContent</key>
		<string>A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。A1：紫马财行所有投资项目均由合作机构提供全额本息保障，完全保障投资人本金和利息。</string>
	</dict>
</array>
</plist>
